<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>-->
  <connectionStrings>
    <!--<add name="DbConnStr" providerName="System.Net.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=mta_nyc_subway;User ID=nymobile.net@tei624ww1k;Password=NYCm0b1l3"/>-->
    <add name="DbConnStr" providerName="System.Net.SqlClient"
         connectionString="Server=tcp:tei624ww1k.database.windows.net,1433;Database=mta_nyc_subway;User ID=nymobile.net@tei624ww1k;Password=NYCm0b1l3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
</configuration>